body {
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  text-align: center;
}
canvas {
  border: 2px solid black;
  background-color: white;
}
.contenedor {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.tabla, .controles {
  margin: 10px;
}
tr.activo {
  background-color: yellow;
}
