body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d18585;
    font-family: Arial, sans-serif;
}

.calculadora {
    width: 250px;
    padding: 20px;
    background: rgb(240, 238, 238);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#pantalla {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #bebebe;
    border-radius: 5px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-num {
    background: #3498db;
    color: white;
}

.btn-op {
    background: #2ecc71;
    color: white;
}

.btn-eq {
    background: orange;
    color: white;
}

.vestimenta-boton-borrar {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    background-color: red;
    box-shadow: 0px 5px #8B3E22;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-color: #8B3E22;
    margin-top: 10px;
}
